<form [formGroup] ="form" (ngSubmit)="changePassword()" >
    <div class="form-group">
        <label for="oldPassword">Current Password:</label>
        <input 
            id="oldPassword" 
            type="password" 
            class="form-control"
            formControlName= "oldPassword" >
        <div *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.errors">
            <div *ngIf="form.controls.oldPassword.errors.required" class="alert alert-danger">
                Password is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input 
            id="newPassword" 
            type="password" 
            class="form-control"
            formControlName= "newPassword" >
        <div *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors">
            <div *ngIf="form.controls.newPassword.errors.required" class="alert alert-danger">
                New Password is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input 
            id="confirmNewPassword" 
            type="password" 
            class="form-control"
            formControlName= "confirmNewPassword" >
        <div *ngIf="form.controls.newPassword.touched 
            && form.controls.confirmNewPassword.touched 
            && form.controls.confirmNewPassword.errors">
            <div *ngIf="form.controls.confirmNewPassword.errors.required" class="alert alert-danger">
                New Password confirmation is required
            </div>
        </div>
        <div *ngIf="form.errors && form.errors.valuesDiffer" class="alert alert-danger">
            Passwords do not match
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Sign Up</button>
</form>